<div id="menu">
  <nav class="nav flex-column">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/weather"
      >Weather</i>
    </a>
    <a class="nav-link" href="/steam"
      ><i class="fa fa-steam" aria-hidden="true"></i
    ></a>
  </nav>
</div>
