<div class="card ">
  <div class="card-body">
    <h4 class="card-title font-weight-bold"><%= weatherData.name %></h4>
    <p class="card-text">Mon, 12:30 PM, Mostly Sunny</p>
    <div class="d-flex justify-content-between">
      <p class="display-1 degree">
        <%= Number.parseFloat(weatherData.main.temp).toPrecision(2) %>°C
      </p>
    </div>
    <div class="d-flex justify-content-between mb-4">
      <p>
        <i class="fa fa-tint fa-lg text-info pr-2"></i><%=
        weatherData.main.humidity %>%
      </p>
      <p>
        <i class="fa fa-leaf fa-lg grey-text pr-2"></i><%=
        weatherData.wind.speed %> km/h
      </p>
    </div>
  </div>
</div>
