<h3>Horoscope du jour</h3>

<div class="card">
    <img class="card-img-top" src="/views/img/horoscope.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text"><%= horoscopeData.description %> </p>
    </div>
</div>