Jeux récents
<ul class="list-group">
  <li class="list-group-item "><%= steamData.game_name_1 %></li>
  <li class="list-group-item "><%= steamData.game_name_2 %></li>
  <li class="list-group-item "><%= steamData.game_name_3 %></li>

</ul>