<h4>Jeux récents</h4>
<ul class="list-inline">
  <li class="list-inline-item"><img src=<%= steamData.mostPlayed_recent_img_1 %> /> </li>
  <li class="list-inline-item"><img src=<%= steamData.mostPlayed_recent_img_2 %> /></li>
  <li class="list-inline-item"><img src=<%= steamData.mostPlayed_recent_img_3 %> /></li>
</ul>