#menu {
  float: left;
  height: 100em;
}

.marginLeft2 {
  margin-left: 2em;
}
.card {
  margin-bottom: 1em;
  width: 20em!important;
}

.widgetTitle {
  text-align: center;
}

.config {
  margin:2em;
}



.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  display: inline-block;
}
