<%- include('../partials/menu'); %>

<% if (weatherData != null) { %>
    <div class="row">
        <div class="row col-4 widget">
          <%- include('./widgets/weather_current'); %>
        </div>
      </div>
      
<% } %>