<%- include('../partials/menu'); %>
<div class="row">
  <div class="row col-4 widget">
    <%- include('./widgets/steam_recentGames'); %>
  </div>
  <div class="row col-4 widget">
    <%- include('./widgets/steam_profile'); %>
  </div>
</div>
